.wheels-container {
    float: left;
    width: 355px;
}

.wheels-container .wheels-wrapper{

}

.wheels-container .wheels-wrapper .wheels-component-name{
    display: block;
    text-align: left;
    font-weight: 100;
    font-family: 'Roboto';
    letter-spacing: 2px;
    font-size: 16px;
    margin-bottom: 10px;
}

.wheels-container .wheels-wrapper .wheel-wrapper {
    width: 47%;
    height: 65px;
    float: left;
    position: relative;
    background-color: #F7F7F7;
    border: 1px solid #ccc;
    text-align: left;
    box-sizing: border-box;
    outline: none;
    margin-right: 10px;
    margin: 0 8px 0 0;
    cursor: pointer;
}

.wheels-container .wheels-wrapper .wheel-wrapper.selected {
    border-color: #39f;
    box-shadow: inset 0px 0px 0px 1px #39f;
}

.wheels-container .wheels-wrapper .wheel-wrapper .wheel-icon {
    width: 43px;
    height: 43px;
    margin-top: 10px;
    margin-left: 25px;
    float: left;
    background-repeat: no-repeat;
    background-size: 100%;
}

.wheels-container .wheels-wrapper .wheel-wrapper .wheel-icon.wheel-19 {
    background-image: url('./assets/19.svg');
}

.wheels-container .wheels-wrapper .wheel-wrapper .wheel-icon.wheel-21 {
    background-image: url('./assets/21.svg');
}

.wheels-container .wheels-wrapper .wheel-wrapper .wheel-size {
    font-size: 16px;
    float: right;
    line-height: 65px;
    padding-right: 61px;
}